*{
    font-family: 'Roboto', sans-serif;
}

/* BODY */

body{
    width: 90%;
    margin: auto;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

header nav {
    display: flex;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{

}

header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.7em;
    margin-left: 20px;
}

header nav ul li a:hover{
    color: #5b359c;
    text-decoration: underline;
}

/* MAIN */

/* BANNIERE */

.banniere{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: url("../images/backgroung_image.jpg");
}

.banniere img{
    width: 20%;
}

.banniere h1{
    color: white;
    font-size: 2.5em ;
}